<!DOCTYPE html>
<html>
<body>
    <div>
        <h4>
            Hello {{name}}, here is the Code {{token}} to reset your password. This code will expired in 30 minutes.
        </h4>
    </div>
</body>
</html>